<header class="header-6">
    <div class="branding">
        <a class="nav-link">
            <!-- <clr-icon shape="vm-bug"></clr-icon> -->
            <span class="title">CROP INSURE</span>
        </a>
    </div>
    <div class="header-actions">
        <a class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="bell"></clr-icon>
        </a>
        <a href="#" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>

<div>
        <img  src='../../assets/pptpic.png' style="width:100%; height: 50%;" class='card-media-image'>
    </div>

<div class="main-container">
<div class="content-container">
        <!-- <div class="clr-row" >
                
                </div> -->
    <div class="content-area">
        <!-- <div class="clr-row" style="z-index: -1">
            <div class="clr-col-lg-12" style="align:center;">
                <div class="card clickable">
                    <div class="card-block">
                        <h3>Add your insurance</h3>
                            <span class="label label-purple" style="display: inline" >Upload your insurance policy</span>
                            <br><br>
                            <input #file type="file" name="photo">
                            <div>
                                <br>
                                <button type="button" class="btn btn-primary btn-s" [disabled]="submitbuttonStatus"(click)="uplaoddata()">
                                        Upload 
                                </button>
                                <p style="display: inline; text-align: right; ">Upload your insurance policy document</p>
                            </div>
                            
                            <div *ngIf="!progressisHidden">
                                <div class="clr-row">
                                    <div class="clr-col">
                                        <div class="clrweb-DoxMedia">
                                            <div class="clrweb-DoxMedia-block">
                                                <clr-progress-bar-story-demo></clr-progress-bar-story-demo>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                </div>
            </div> -->
            <br>
                <div>
                  <h3 style="display:inline;">Manage Insurances</h3>
                  <div class="search" style="display:inline; padding-left: 20%">    
                    <input placeholder="Search insurance" style="width:50%" >
                    <button class="btn btn-link"><clr-icon shape="search"></clr-icon></button>
                  </div>
                  </div>
                  
                <div class="clr-row">
                        <div class="clr-col-lg-2 clr-col-12">
                                <a class="card clickable" (click)='next_page()'>

                                            <div class="card-block">
                                                <div style="padding-left: 25px;">
                                                <clr-icon shape="plus-circle" class="is-solid is-info" size="140"></clr-icon>
                                                </div>
                                                <h4 class="is-info">
                                                    Create Insurance
                                                </h4>
                                            </div>
                                </a>
                            </div>
                        <div class="clr-col-lg-2 clr-col-12">
                            <div class="card">
                                <div class="card-header">
                                    Flood Insurance
                                </div>

                                <div class="card-block">
                                        
                                    <div class="card-media-block wrap">
                                           
                                        <div class="card-media-description">
                                            <span>Issue Date: 28/11/2019</span>
                                            <span>Maturity: 29/11/2024</span>
                                            <span>Premium amount: 1000 Rs</span>
                                            <span>Recurrence: Monthly</span>
                                        </div>
                                    </div>
                                    <span class="label label-success">Premium Paid</span>
                                        <span class="label label-purple">Claimed</span>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="clr-col-lg-2 clr-col-12">
                        <div class="card">
                                <div class="card-header">
                                    Drought Insurance
                                </div>

                                <div class="card-block">
                                        
                                    <div class="card-media-block wrap">                                           
                                        <div class="card-media-description">
                                            <span>Issue Date: 28/11/2019</span>
                                            <span>Maturity: 29/11/2024</span>
                                            <span>Premium amount: 1000 Rs</span>
                                            <span>Recurrence: Monthly</span>
                                        </div>
                                    </div>
                                    <span class="label label-info">Premium Due</span>
                                    <a href="#" class="label label-purple clickable">
                                            Claim Now
                                        </a>
                                    
                                </div>
                                
                            </div>
                            </div>
                            <div class="clr-col-lg-2 clr-col-12">
                                <div class="card">
                                        <div class="card-header">
                                            Wasp Disease Insurance
                                        </div>
        
                                        <div class="card-block">
                                                
                                            <div class="card-media-block wrap">
                                                    
                                                <div class="card-media-description">
                                                    <span>Issue Date: 28/11/2019</span>
                                                    <span>Maturity: 29/11/2024</span>
                                                    <span>Premium amount: 1000 Rs</span>
                                                    <span>Recurrence: Monthly</span>
                                                </div>
                                            </div>
                                            <span class="label label-info">Premium Due</span>
                                            <a href="#" class="label label-purple clickable">
                                                    Claim Now
                                                </a>
                                            
                                        </div>
                                        
                                    </div>
                            </div>                            
                    </div>
            </div>
          </div>
          
</div>