<header class="header-6">
        <div class="branding">
            <a class="nav-link">
                <!-- <clr-icon shape="vm-bug"></clr-icon> -->
                <span class="title">CROP INSURE</span>
            </a>
        </div>
        <div class="header-actions">
            <a class="nav-link nav-icon" aria-label="settings">
                <clr-icon shape="bell"></clr-icon>
            </a>
            <a href="#" class="nav-link nav-icon" aria-label="settings">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
    </header>
    
    <!-- <div>
            <img  src='../../assets/pptpic.png' style="width:100%; height: 50%;" class='card-media-image'>
        </div> -->
    <div class="main-container">
    <div class="content-container">
            <clr-vertical-nav *ngIf="option === 'lazy'"
                              [clrVerticalNavCollapsible]="true"
                              [clrVerticalNavCollapsed]="navCollapsed"
                              (clrVerticalNavCollapsedChange)="updateNavCollapsed($event)">

                <clr-vertical-nav-group routerLinkActive="active">
                    <a
                        [routerLink]="['./beatles']"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}"
                        clrVerticalNavLink>
                        <clr-icon [attr.shape]="'dollar-bill'" clrVerticalNavIcon></clr-icon>
                        Transactions 
                    </a>
                    <ng-template
                        [clrIfExpanded]="groupExpand"
                        (clrIfExpandedChange)="updateGroupExpand($event)">
                        <clr-vertical-nav-group-children>
                            <a routerLinkActive="active"
                               clrVerticalNavLink
                               [routerLink]="['./abbey-road']">
                                Abbey Road
                            </a>
                            <a routerLinkActive="active"
                               clrVerticalNavLink
                               [routerLink]="['./revolver']">
                                Revolver
                            </a>
                            <a routerLinkActive="active"
                               clrVerticalNavLink
                               [routerLink]="['./rubber-soul']">
                                Rubber Soul
                            </a>
                        </clr-vertical-nav-group-children>
                    </ng-template>
                </clr-vertical-nav-group>
                <clr-vertical-nav-group routerLinkActive="active">
                        <a
                            [routerLink]="['./beatles']"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}"
                            clrVerticalNavLink>
                            <clr-icon [attr.shape]="'line-chart'" clrVerticalNavIcon></clr-icon>
                            Analytics
                        </a>
                        <ng-template
                            [clrIfExpanded]="groupExpand"
                            (clrIfExpandedChange)="updateGroupExpand($event)">
                            <clr-vertical-nav-group-children>
                                <a routerLinkActive="active"
                                   clrVerticalNavLink
                                   [routerLink]="['./abbey-road']">
                                    Abbey Road
                                </a>
                                <a routerLinkActive="active"
                                   clrVerticalNavLink
                                   [routerLink]="['./revolver']">
                                    Revolver
                                </a>
                                <a routerLinkActive="active"
                                   clrVerticalNavLink
                                   [routerLink]="['./rubber-soul']">
                                    Rubber Soul
                                </a>
                            </clr-vertical-nav-group-children>
                        </ng-template>
                    </clr-vertical-nav-group>
    
                <clr-vertical-nav-group routerLinkActive="active" routerLinkActive="active">
                    <a
                        [routerLink]="['./killers']"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}"
                        clrVerticalNavLink>
                        <clr-icon [attr.shape]="'slider'" clrVerticalNavIcon></clr-icon>
                        Filters
                    </a>
                    <ng-template clrIfExpanded>
                        <clr-vertical-nav-group-children>
                            <a routerLinkActive="active"
                               [routerLink]="['./hot-fuss']"
                               clrVerticalNavLink>
                                District
                            </a>
                            <a routerLinkActive="active"
                               clrVerticalNavLink
                               [routerLink]="['./day-and-age']">
                                Farm size
                            </a>
                            <a routerLinkActive="active"
                               clrVerticalNavLink
                               [routerLink]="['./sams-town']">
                                Farmer Type
                            </a>
                        </clr-vertical-nav-group-children>
                    </ng-template>
                </clr-vertical-nav-group>

                <a routerLinkActive="active"
                   clrVerticalNavLink
                   [routerLink]="['./wikipedia']">
                    <clr-icon shape="phone-handset" clrVerticalNavIcon></clr-icon>
                    Contact Us
                </a>
                <div style="position: fixed; bottom: 4px;">
                    <span style="padding: 8px;"><a routerLinkActive="active"
                        [routerLink]="['./wikipedia']">English</a></span>
                    <span style="padding: 8px;"><a routerLinkActive="active"
                    [routerLink]="['./wikipedia']">मराठी</a></span>
                    <span style="padding: 8px;"><a routerLinkActive="active"
                        [routerLink]="['./wikipedia']">हिंदी</a></span>
                    <span style="padding: 8px;"><a routerLinkActive="active"
                        [routerLink]="['./wikipedia']">ગુજ્રતિ</a></span>
                </div>
                

            </clr-vertical-nav>

            
            <!-- <clr-vertical-nav [clrVerticalNavCollapsible]="demoCollapsible" [clr-nav-level]="1">
                    <a clrVerticalNavLink routerLinkActive="active" routerLink="home">
                      <clr-icon shape="home" clrVerticalNavIcon></clr-icon>
                      Dashboard
                    </a>
                    <clr-vertical-nav-group routerLinkActive="active">
                      <clr-icon shape="tablet" clrVerticalNavIcon></clr-icon>
                      Nav 1
                      <clr-vertical-nav-group-children>
                        <a clrVerticalNavLink routerLink="./normal/pidgey" routerLinkActive="active">
                          Pidgey
                        </a>
                        <a clrVerticalNavLink routerLink="./normal/snorlax" routerLinkActive="active">
                          Snorlax
                        </a>
                      </clr-vertical-nav-group-children>
                    </clr-vertical-nav-group>
                    <clr-vertical-nav-group routerLinkActive="active">
                      <clr-icon shape="file-group" clrVerticalNavIcon></clr-icon>
                      Nav 2
                      <clr-vertical-nav-group-children>
                        <a clrVerticalNavLink routerLink="./fire/charmander" routerLinkActive="active">
                          Charmander
                        </a>
                        <a clrVerticalNavLink routerLink="./fire/charizard" routerLinkActive="active">
                          Charizard
                        </a>
                      </clr-vertical-nav-group-children>
                    </clr-vertical-nav-group>
                    <clr-vertical-nav-group routerLinkActive="active">
                      <clr-icon shape="users" clrVerticalNavIcon></clr-icon>
                      Nav 3
                      <clr-vertical-nav-group-children>
                        <a clrVerticalNavLink routerLink="./electric/pikachu" routerLinkActive="active">
                          Pikachu
                        </a>
                        <a clrVerticalNavLink routerLink="./electric/raichu" routerLinkActive="active">
                          Raichu
                        </a>
                      </clr-vertical-nav-group-children>
                    </clr-vertical-nav-group>
                    <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
                      <clr-icon shape="file-settings" clrVerticalNavIcon></clr-icon>
                      Settings
                    </a>
              </clr-vertical-nav> -->
              
        <div class="content-area">
                    <br>
                    <div>
                      <h3 style="display:inline;">Manage Insurances</h3>
                      <div class="search" style="display:inline; padding-left: 10%">    
                        <input placeholder="Search insurance" style="width:50%" >
                        <button class="btn btn-link"><clr-icon shape="search"></clr-icon></button>
                        <!-- <button class="btn btn-link">Check Risks</button> -->
                        <button class="btn btn-primary btn-sm" (click)='toggle_check_risk()'>Check Risks</button>
                      </div>
                      
                        <clr-toggle-wrapper style="display:inline; padding-left: 10%">
                            <input type="checkbox" clrToggle value="option1" name="options" />
                            <label>Claim critical cases automatically</label>
                        </clr-toggle-wrapper>
                      </div>
                      
                      <!-- <span class="spinner spinner-lg">
                            Loading...
                        </span> TODO--> 
                      <div class="clr-row">
                            <div class="clr-col-lg-3 clr-col-12" *ngFor="let item of contracts">
                                    <div class="card">
                                            <div class="card-header">
                                                {{item.type}}
                                                <div *ngIf="check_risk && item.damage > 80" class="alert alert-danger alert-sm">
                                                    <div class="alert-items">
                                                        <div class="alert-item static" role="alert">
                                                            <div class="alert-icon-wrapper">
                                                                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                                            </div>
                                                            <span class="alert-text">
                                                                Damage % > 80%
                                                            </span>
                                                        </div>
                                                    </div>                                                   
                                                    <button type="button" class="close" aria-label="Close">
                                                            <clr-icon aria-hidden="true" shape="close"></clr-icon>
                                                        </button>
                                                </div>
                                                <div *ngIf="check_risk && item.damage < 80" class="alert alert-info alert-sm">
                                                        <div class="alert-items">
                                                            <div class="alert-item static" role="alert">
                                                                <div class="alert-icon-wrapper">
                                                                    <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                                                                </div>
                                                                <span class="alert-text">
                                                                    Damage % = {{item.damage}}
                                                                </span>
                                                            </div>
                                                        </div>                                                   
                                                        <button type="button" class="close" aria-label="Close">
                                                                <clr-icon aria-hidden="true" shape="close"></clr-icon>
                                                            </button>
                                                    </div>
                                            </div>
            
                                            <div class="card-block">
                                                    
                                                <div class="card-media-block wrap">                                           
                                                    <div class="card-media-description">
                                                        <span>{{item.farmer_name}}</span>
                                                        <span>Issue Date: {{item.issue}}</span>
                                                        <span>Maturity: {{item.maturity}}</span>
                                                        <span>Premium amount: {{item.premium}}</span>
                                                        <span>Recurrence: {{item.recurrence}}</span>
                                                        <span>Region: {{item.region}}</span>
                                                    </div>
                                                </div>
                                                <span *ngIf="item.due" class="label label-info">Premium Due</span>
                                                <span *ngIf="!item.due" class="label label-success">Premium Paid</span>
                                                <a href="#" class="label label-purple clickable">
                                                        Claim Now
                                                    </a>
                                                
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                      </div>
                </div>
            </div>
    </div>